
/*header*/
header		{ height:575px; width:100%; background:#fff url('/static/img/logo-back.png') repeat-x left bottom;}
.header		{ position: relative;}
h1			{position:absolute; left:0; top:15px; z-index: 50;}
h2.subtitle	{color:#383838; font-size:12px; position: absolute; left: 110px; top: 0;font-weight: normal; z-index: 50;}

.search		{position: absolute; right:20px; top:50px;overflow: hidden;z-index: 50;}
.search .text{width:172px;float:left;}
.search .submit{background-color:#CC4444; font-size:12px; font-weight: bold; text-transform: uppercase; color:#fff; margin-left:10px; float:left;
				padding:4px 10px; text-align: center; width:70px;}
.menu		{position: absolute; right:20px; top:130px; height:31px; margin:0; padding:0;box-shadow: 1px 1px 1px #E8EAEB; z-index:50;}				
.menu li	{display: inline; padding: 0;}
.menu a		{background-color:#F5F5F5; font:bold 13px Arial; color:#646464; display: block; float:left; height:31px; padding:0 10px; 
			 text-decoration:none; line-height: 31px;}
.menu a:hover{color:#CC4444; text-decoration:none;}
.menu .home	{background:#CC4444 url('/static/img/home.png') no-repeat center center; width:37px; padding:0; text-indent: -9999px; }

/*main content*/
.main-cotent	{overflow: hidden;}
.greeting		{margin:25px 0; overflow: hidden;}
.greeting img	{float:left; padding:8px; border:1px solid #ebebeb; margin-right:20px;}
.greeting h3	{font:bold 17px Tahoma; color:#2797C5; margin:10px 0 15px;text-transform: uppercase;}

h2.first,
h2.second,
h2.third		{height:45px; line-height: 45px;font: 32px Tahoma;text-transform:uppercase; padding-left:60px;margin:45px 0 30px;}
h2.first		{background:#FFF9E5 url('/static/img/first.png') no-repeat left center; color:#FFCC00; }
h2.second		{background:#E9F4F9 url('/static/img/second.png') no-repeat left center; color:#2D9AC7;}
h2.third		{background:#F9ECEC url('/static/img/third.png') no-repeat left center; color:#CC4444;}

.news h3,
.anons h3,
h3.talants		{font: 20px Tahoma; color:#FFCC00; text-transform: uppercase; overflow: hidden; margin-bottom:15px;}
.ie6 .news h3,
.ie6 .anons h3,
.ie6 h3.talants	{zoom: 1;}
a.all-item-blue	{float:right; color:#0099CC; font-size: 12px; padding-left:16px; background: url('/static/img/allitem.png') no-repeat left center;
				text-decoration:none;margin-top:6px; text-transform: none; margin-right:17px;}
.all-item-blue span{text-decoration: underline;}

.news-item			{overflow: hidden; margin-bottom: 30px;color:#7B7B7B; font-size: 13px;}
.news-item .preview	{float:left; display: block;padding:10px; border:1px solid #EBEBEB;}
.news-item .info	{margin-left:115px;}
.news-item	h4		{font-weight:normal; font-size: 14px; line-height:1.4; margin-bottom:10px;}
.news-item	h4 a	{color:#006699;text-decoration: underline; }
.news				{background: url('/static/img/separator.png') repeat-y right top; margin-bottom:25px;}

.anons				{margin-bottom:25px;}
.anons .anons-item	{overflow: hidden; margin-bottom:20px;color:#7B7B7B; font-size: 13px;}
.anons .date		{width:65px; height:64px; font-size:30px; color:#fff; background: url('/static/img/anons.png') no-repeat center center;
					margin-right:12px; float:left;display: block;padding-top:16px;padding-left:3px;font-weight: bold; }
.anons .date span	{display: block;font-size: 12px; font-weight: normal;}
.anons .info		{margin-left:100px;}
.anons .info h4		{font-weight:normal; font-size: 14px; line-height:1.4; margin-bottom:10px; }
.anons	h4 a		{color:#006699;text-decoration: underline;   }

.talanty a,
.takepart a			{display: block; padding-left:26px;font-weight:normal; font-size: 14px; line-height:1.4; margin-bottom:10px;
					color:#006699;text-decoration: underline; }
.talanty a			{background: url('/static/img/talanty.png') no-repeat left 3px;}
.talanty a span		{display: block; text-decoration: none; text-transform: uppercase; color:#CC4444;font-weight:bold; }
.takepart			{margin:20px 0;}
.takepart a			{background: url('/static/img/takepart.png') no-repeat left 3px;}		


/*sidebar*/
.sidebar			{background-color:#2897C6; font-size: 17px; color:#fff; margin-bottom:-20000px; padding-bottom:20000px;}
.ie6 .sidebar		{width:290px;}
.sidebar p			{margin:20px 60px;}
.soc-seti		{overflow: hidden;margin-bottom:15px;margin-left:80px; }
.ie6 .soc-seti	{zoom:1;}
.soc-seti a		{float:left; text-indent: -9999px;height:31px; width:25px; margin-right:20px;}
.soc-seti .twitter{background: url('/static/img/twitter.png') no-repeat center center;}
.soc-seti .facebook{background: url('/static/img/face.png') no-repeat center center;}
.soc-seti .vk		{background: url('/static/img/vk.png') no-repeat center center;}

.send-article		{display: block;margin:0 27px 20px 27px; padding:10px 10px;background-color:#fff; color:#44B7D4; text-decoration:none;
					text-transform: uppercase;font-size: 20px; text-align: center; border-radius: 4px; -moz-border-radius:4px;-webkit-border-radius:4px; }
.send-article:hover	{text-decoration:none; color:#44B7D4; background-color:#eee;}

h4.video,
h4.photo			{padding-left:60px; height:36px; color:#fff; text-transform: uppercase; font:20px Tahoma;font-weight: normal; 
					line-height:36px; margin-bottom:27px;margin-left:88px;margin-top:25px;}
h4.video			{background:url('/static/img/h4video.png') no-repeat left center;}
h4.photo			{background:url('/static/img/h4photo.png') no-repeat left center;}
figure.video		{margin-left:60px; margin-bottom:20px;}
figure.video figcaption a{color:#fff; display: block;margin-top:12px; font-size:14px; text-decoration: underline; width:180px;}
figure.video figcaption a:hover{color:#eee;}

a.more-item			{display: block; padding-left:20px ;background: url('/static/img/moreitem.png') no-repeat left center;
					text-decoration: none; font-size: 12px; float:right;  color:#fff; margin-right:28px; }
a.more-item	span	{text-decoration: underline;}
a.more-item:hover	span{color:#eee;}

.all-photo			{margin:10px 0 20px 25px; overflow: hidden; list-style: none; padding: 0;}
.ie6 .all-photo		{zoom: 1;}
.all-photo li		{display: inline; padding: 0;}
.all-photo a		{display: block;border:10px solid #fff; margin:0 6px 6px 0; float:left;}
.all-photo a:hover	{border:10px solid #eee;}

/*footer*/
footer			{border-top:9px solid #E9F4F9; background-color:#F5F5F5;padding: 25px 0 25px;}
h3.blue,			
h3.yellow,
h3.red			{font-size:14px; font-weight: bold;text-transform: uppercase;line-height: 1.6;}
h3.blue	a		{color:#006699;}
h3.yellow a		{color:#FFCC00;}
h3.red	a		{color:#CC4444;}
h3.big			{padding-left:10px;height:22px; line-height: 22px; width:162px; margin-bottom: 10px;}		
h3.blue.big		{background-color:#E9F4F9;}
h3.yellow.big	{background-color: #FFF9E5;}
h3.red.big		{background-color:#F6EAEA;}
footer ul		{list-style: none;margin:0 0 20px 10px; padding:0;}
footer ul a		{font-size: 13px; color:#7A7A7A; text-decoration: none;}
.copyright		{font-size: 13px;color:#7A7A7A; margin:30px 0 160px 0; }
.web-studia		{color:#797979; font-size: 12px;}
.web-studia a	{color:#006699; text-decoration: none;}

.partners		{margin:25px 0; overflow: hidden;}
.partners li	{display: inline;}
.partners a		{display: block;width: 70px; height:70px; overflow: hidden;float:left; margin:0 7px 7px 0; background-color:#fff;
				border:1px solid #EBEBEB;}
				
				
/*slider*/
#slides					 {position: absolute; left:10px; top:15px; z-index: 2;}
.slides_container		 { width:940px; height:550px; position: relative;}
.slides_container div	 { width:940px; height:550px; display:block; position: relative;text-align: center;}				
.slides_container .slider-text{position: absolute; z-index: 2; left:10px; top:250px; overflow: hidden; text-align: left;}			
.slides_container .first {font-size: 20px; color:#fff; background-color:#CC4444; padding:12px 8px; display: inline-block;}				
.slides_container .second{font-size: 20px; background-color:#fff; color:#797979;padding:12px 50px 12px 10px; display: inline-block;}				
.slides_container .link	 {font-size:12px; color:#fff;background-color:#54616F;padding:8px 20px 8px 6px;display: inline-block; }				
.slides_container .link a{padding-right:15px;background: url('/static/img/slider/arrow.png') no-repeat right center; color:#fff; text-decoration: none;}
.pagination				 { display: none;}

#slides	 .next,
#slides	 .prev		{position: absolute; top:300px; text-decoration: none; width:36px; height:60px; text-indent: -9999px;}
#slides	 .prev		{left:-120px;background: url('/static/img/slider/left.png') no-repeat left center;}
#slides	 .next		{right:-100px;background: url('/static/img/slider/next.png') no-repeat left center; }

/*accord*/
#accord				{margin:45px 0;}
#accord h3			{height:24px; }
#accord h3 span		{font:20px Tahoma; color:#CC4444; text-transform: uppercase; cursor: pointer; }
#accord h3 a		{text-decoration: none;margin-left:30px;}
#accord h3 a span	{font:12px Trebuchet; color:#0099CC; text-transform: none; padding-left: 16px;background: url('/static/img/plus.png') no-repeat left center;
					text-decoration: underline;}	
.accord-item 		{margin-bottom:15px;position: relative;}	
.accord-desc		{position: absolute; top:24px; padding:15px; display: none;}
.showing			{}


/*coda*/
.coda-content		{padding:15px 10px; background-color:#F5F5F5;font:13px Trebuchet; color:#7A7A7A; width:570px;min-height: 180px; }
.coda-content .coda-info{margin-left:160px;}
#accord .coda-content h3	{font-size: 14px; text-transform: uppercase; margin-bottom:10px;}
#accord .coda-content h3 a	{color:#006699; text-decoration: underline; padding-left:0; margin-left:0;}
.coda-content a.more-info{font-size: 12px; color:#0099CC; display: block; margin-top:20px; }
.coda-content img	{float:left; padding:8px; background-color:#fff; border:1px solid #EBEBEB; }
.coda-inner			{display: none;}
.coda-nav			{overflow: hidden; margin:15px 0}
.coda-nav ul		{list-style: none; margin:0; padding:0;}
.coda-nav li		{display: inline; padding: 0;}
.coda-nav a			{padding:10px; background-color:#fff; margin-right:10px; border:2px solid #EBEBEB;display: block; float:left;}
.coda-nav a:hover,
.coda-nav a.current	{border:2px solid #CC4444;}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}