

.name                {font-family: BoldCn;}
.about-title span    {font-family: BoldCn; }
.aboutBottom         {font-family:BkCn; }
.info a             {font-family: BoldCn;}
.bigLink            {font-family: BoldCn;}
.info               {font-family:XLtCn;}
.mediumLink         {font-family:BkCn; }
.mainLink           {font-family: BoldCn;}