@font-face {
	font-family: 'BoldCn';
	src: url('/assets/font/itcavantgardestd-boldcn-webfont.eot');
	src: url('/assets/font/itcavantgardestd-boldcn-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/font/itcavantgardestd-boldcn-webfont.woff') format('woff'),
	url('/assets/font/itcavantgardestd-boldcn-webfont.ttf') format('truetype'),
	url('/assets/font/itcavantgardestd-boldcn-webfont.svg#ITCAvantGardeGothicStdBdCn') format('svg');
	font-weight: normal;
	font-style: normal;

	}

@font-face {
	font-family: 'BkCn';
	src: url('/assets/font/itcavantgardestd-bkcn-webfont.eot');
	src: url('/assets/font/itcavantgardestd-bkcn-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/font/itcavantgardestd-bkcn-webfont.woff') format('woff'),
	url('/assets/font/itcavantgardestd-bkcn-webfont.ttf') format('truetype'),
	url('/assets/font/itcavantgardestd-bkcn-webfont.svg#ITCAvantGardeGothicStdBkCn') format('svg');
	font-weight: normal;
	font-style: normal;

	}

@font-face {
	font-family: 'XLtCn';
	src: url('/assets/font/itcavantgardestd-xltcn-webfont.eot');
	src: url('/assets/font/itcavantgardestd-xltcn-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/font/itcavantgardestd-xltcn-webfont.woff') format('woff'),
	url('/assets/font/itcavantgardestd-xltcn-webfont.ttf') format('truetype'),
	url('/assets/font/itcavantgardestd-xltcn-webfont.svg#ITCAvantGardeGothicStdXLtCn') format('svg');
	font-weight: normal;
	font-style: normal;

	}