body        {border-top:11px solid #65696E;}
header      {width:940px; margin:0 auto; position: relative; height:100px;}
.logo       {margin-top:18px;}
.menu       { position: absolute;top:20px; right:0; list-style-type: none; margin: 0; padding: 0; overflow: hidden;}
.menu li    {display: inline; padding: 0;}
.menu a     {float:left; display: block; margin: 0 20px;color:#65696E; font-size: 15px; text-decoration: none; }
.menu a:hover{ text-decoration: none; color:#89929A;}

#slides                 {margin:0 auto 20px; width: 940px;height:297px; overflow: hidden;background-color:#EBEBEB; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: relative;   }
.slides_container       { width:940px; height:297px;}
.slides_container div   { width:940px; height:297px; display:block; overflow: hidden;}
.slides_container img   {float:left; margin: 10px 0 10px 10px;}
.slides_container .info-slide{float:right;color:#89929A; margin:10px 10px 0 0; width:300px; line-height: 1.4; }
.info-slide h3          {color:#65666C; font-size: 20px; font-weight: normal; text-transform: none;}
#slides .pagination     { position: absolute;z-index: 500; right:20px; bottom: 20px;margin: 0; padding: 0; }
#slides .pagination li  { display: inline; padding: 0;}
#slides .pagination a   {display: block; float:left; height:9px; width: 9px; margin: 0 5px;text-indent: -9999px;background: url('/static/img/slider-circle.png') no-repeat left top;}
#slides .pagination a:hover,
#slides .pagination li.current a{background: url('/static/img/slider-circle-a.png') no-repeat left top;}
.more                   {height:35px;display: block;float:left; margin:20px 0; text-decoration: none; line-height: 35px; padding:0 20px; color:#65666C; font-size: 14px; background-color:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;     }
.more:hover             { text-decoration: none;  color:#65666c;}

.under-slider           {margin:20px auto; width:940px; overflow: hidden;}
.under-slider .left     {float:left; width:700px; font-size: 24px;color:#65666c; padding-right:15px; border-right:1px dotted #B2B3B5;}
.under-slider .right    {float:right;width:200px; }
.under-slider .right a  {font-size:12px;height:52px; line-height: 53px; padding:0 10px 0 55px; display: block; text-decoration: none; background:#EBEBEB url('/static/img/download.png') no-repeat 10px center;  color:#65666c; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;      }
.under-slider .right a:hover{ color:#65666c; text-decoration: none;}

.catalog                {background-color: #EBEBEB; margin:20px 0;padding: 5px 0;}
.catalog .wrap          {margin:0 auto; width:940px; overflow: hidden;}
.image_carousel         {height:135px;  padding:0 10px; position: relative; overflow: hidden;}
.image_carousel .prev,
.image_carousel .next  { position: absolute;display: block; width:11px; height:18px; top: 30px; text-indent: -9999px;}
.image_carousel .prev   {left:10px;background: url('/static/img/arrow-left.png') no-repeat left top; }
.image_carousel .next   {right:10px;background: url('/static/img/arrow-right.png') no-repeat left top; }
.image_carousel a       {display: block;float:left; width:150px; text-align: center; text-decoration: none;color:#79838C;height:135px;  }
.image_carousel a:hover {text-decoration: underline;}
.image_carousel a span  { display: block; text-align: center; margin-top:10px; }
.wrap h4                {margin:0 0 10px 0;}

.main                   {margin:20px auto; width:940px; overflow: hidden;}
.content                {float:left; width:620px; margin-bottom: 30px;}
aside                   {float:right;width:300px; }
aside h3                {font-size: 20px;}
aside .date             {display: block; margin-bottom: 5px; font-weight: bold;}
aside .news a           { text-decoration: none; color:#747D87;}
aside .news a:hover     {text-decoration: underline; color: #747D87;}
aside  hr                 { margin: 10px 0; border-bottom: 1px dotted #65676C; }

.links                  { margin: 20px 0; background-color:#EBEBEB; overflow: hidden;padding:10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  }
.links a                {display: block; float:left;font-size: 12px; width:80px; margin:0 10px 15px 10px; padding-left:40px;padding-top:5px;  height:36px;  text-decoration: none; color:#65666C;  }
.links a:hover          { text-decoration: underline; color:#65666C; }

.links .download        {background: url('/static/img/download.png') no-repeat left center;}
.links .present         {background: url('/static/img/present.png') no-repeat left center;}
.links .video           {background: url('/static/img/video.png') no-repeat left center;}

/*footer*/
footer                  {background:#65696E url('/static/img/footer.png') repeat-x left top;color:#ACADB5; margin-top:20px;line-height: 1.6;}
.wrap                   {width:940px; margin:20px auto 0;}
footer .logo            {margin:15px 0;}
footer .adres           { width: 370px;}
.bottom-footer          {margin-top:15px; border-top:2px solid #ACADB5;}
.menu-footer            { list-style: none; padding: 0; margin: 10px 0 15px; float:left; overflow: hidden;}
.menu-footer li         {padding: 0; display: inline;}
.menu-footer a          {font-size: 11px; color:#ACADB5; display: block; float:left; margin-right: 20px; text-decoration: none;}
.menu-footer a:hover    { text-decoration: underline; color: #ACADB5;}

.ie7 .menu-footer,
.ie6 .menu-footer,
.ie6 .links              {zoom:1;}


/* ==|== media queries ====================================================== */
@media only screen and (min-width: 950px) {
    .caroufredsel_wrapper {width:940px;}
}


@media only screen and (min-width: 768px) and (max-width: 940px) {
        .logo       { margin:5px 0; position: absolute; left:50%; margin-left:-145px;}
        header      {height:130px;}
        .menu       {top:80px; left:50%; margin-left:-320px;}

        #slides     {width:786px; height:230px;}
        .slides_container{width:768px;}
        .slides_container div{width:768px;}
        .slides_container img{width:420px;}
        .info-slide h3      {margin-top:0px; font-size: 16px;}

        .under-slider       {width:768px;}
        .under-slider .left {width:500px; font-size: 15px;}

        .catalog .wrap      {width:748px;}
        .image_carousel a   {width:120px;}
        .no-tablet          {display: none;}

        .main               {width:768px;}
        .content            {width:450px;}

        .wrap               {width:768px;}
        footer .logo       { position: static;}

}


@media only screen  and (max-width: 767px) {
        .no-big-phone,
        .no-tablet          {display: none;}
        header              {width:480px;}
        .logo img           {width:150px; margin:0 10px 10px 0;}
        .menu               { position: static; overflow: visible;width:480px;}
        .menu a             {margin-bottom:15px;}
        .under-slider       {width:480px;}
        .under-slider .right {float:left;}
        .catalog .wrap      {width: 470px;}
        .main               {width:480px}
        .content            {width:100%; float:none; margin-bottom: 15p;x}
        aside               {float:none; width:100%;}
        .wrap               {width:480px;}

}

