/*layout*/
body					{background: url('/static/img/back.jpg') no-repeat center top fixed;}
.l-globalWidth 			{margin-left: auto;  margin-right: auto;  width: 960px;  }
header					{position: relative; height: 180px; background-color:#fff; margin-bottom:20px;}
	.l-leftHeader		{position: absolute;left:40px; top:20px;}
	.l-rightHeader		{position: absolute;right:60px; top:20px;}
nav						{height:50px; background-color:#fff;margin-bottom:20px; }
.l-grid4,
.l-grid8				{ display: inline;}
.l-grid4				{width:300px;float:right;margin-bottom:20px;}
.l-grid8				{width:600px;padding:30px 20px; background-color: rgba(255,255,255,.9);float:left;
						-moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px;margin-bottom:20px;}
.content				{min-height:410px;}
.l-catalog				{margin-bottom:15px; background-color: rgba(255,255,255,.9); height:190px;overflow: hidden; }
footer					{height:294px;overflow: hidden; border-top:4px solid #AE0000; background: url('/static/img/footer.png') repeat left top;position: relative; }

.ie6 .l-grid8, .ie7 .l-grid8, .ie8 .l-grid8,
.ie6 .l-catalog, .ie7 .l-catalog,.ie8 .l-catalog	{background-color: #fff;}

/*contact*/
.contacts				{border-left:2px solid #990101; padding-left:16px;font-size: 13px;} 
.contacts b				{font-size: 17px; color:#AD0000;}
	.phone				{padding-left:33px; background: url('/static/img/phone.png') no-repeat left 5px; margin-bottom: 10px;}
	.email				{padding-left:33px; background: url('/static/img/email.png') no-repeat left top; min-height:18px; }
	
/*menu*/
.menu					{list-style: none;padding:16px 0 0 20px; margin:0; overflow: hidden; }
	.menu li			{display: inline;}
	.menu a				{display: block; font-size: 13px;color:#666; text-transform: uppercase; float: left;margin-right:40px; text-decoration: none}
	.menu a:hover,
	.menu a.selected	{color:#AE0000; text-decoration: none; border-bottom:3px solid #AE0000;}
.ie6 .menu a			{margin-right:30px;}
	
/*aside*/
.headSection			{font-size: 13px; color:#fff; text-transform: uppercase; padding:4px 12px; background-color:#AD0000;width:150px; text-align:center; margin-bottom:10px; font-weight: normal;}
.news					{background-color:#fff; border:4px solid #D6D6D6; padding:20px 10px; font-size: 13px; margin-bottom:15px;}
	.news-item			{padding-bottom:13px ;border-bottom:1px solid #CCCCCC; margin-bottom: 13px;}
	.news-item a		{display: block; padding-right:30px; background: url('/static/img/arrow.png') no-repeat right bottom;text-decoration: none;overflow: hidden;}
	.news-item a:hover	{text-decoration: underline;}
	.news-item img		{border:none; float:left;}
	.news-item span		{margin-left:85px;  display: block; color:#666;}
	.news-item .date	{margin:0 0 15px; color:#AC0000;}
.all-news				{text-decoration:none;  display: block;  padding:12px 12px;font-size: 13px; color:#fff; text-transform: uppercase;width:150px; text-align:center;font-weight: normal; background:#AD0000 url('/static/img/arrow1.png') no-repeat 150px center;}
	.all-news:hover		{color:#fff; text-decoration: none;background-color: #cc0000;}

/*content*/
.l-linkMain				{float:right; overflow:hidden;}
	.download,
	.present			{text-decoration:none; padding-left:35px;float:left; margin-right:20px; text-transform: uppercase;color:#AD0000;font-size: 13px;height:35px; min-height:35px}
	.download			{background: url('/static/img/download.png') no-repeat left center;}
	.present			{background: url('/static/img/pdf.png') no-repeat left center;}
		.download:hover,
		.present:hoover	{text-decoration: underline; color:#AD0000;}
		
.content b				{font-weight: normal; color:#AD0000;}
.content p				{margin-bottom:14px;}

/*footer*/
.copyright				{position: absolute; left:40px; top:30px;font-size: 13px; }
	.copyright p		{margin-bottom:20px;}
	
/*slider*/
#slides						{padding:20px 40px 0 60px; position: relative;}
.slides_container 			{width:840px;  height:170px; }
.slides_container div 		{width:840px; height:170px; display:block; overflow: hidden;}
.slides_container div span	{width:120px; display: block; float:left; margin-right:20px;text-align:center; }
.slides_container div a		{color:#666; text-decoration: none;}
.slides_container div a:hover{color:#666; text-decoration:underline;}
.slides_container div a	img	{display: block;margin-bottom:10px;}
.next,
.prev						{height:32px; width:19px; position: absolute; top:70px; text-indent: -9999px;}
.next						{background: url('/static/img/next.png') no-repeat left top; right:20px;}
.prev						{background: url('/static/img/prev.png') no-repeat left top; left:20px;}
.ie6 .prev					{left:-40px;}

/*helper*/
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.clearfix:before,
.clearfix:after,
.l-globalWidth:before,
.l-globalWidth:after 	{  content: '.';  display: block;  overflow: hidden;  visibility: hidden;  font-size: 0;  line-height: 0;  width: 0;  height: 0;}
.clearfix:after,
.l-globalWidth:after 	{  clear: both;}
.clearfix,
.l-globalWidth 			{  zoom: 1;}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}