body{font:14px Arial sans-serif; color:#5A5A5A;}

h2		{color:#45905B;font-size:22px; text-transform: uppercase;}
p		{margin:0 0 10px 0;}
a { color:#7F7F7F; }
a:hover { color: #4e4e4e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

header	{height:189px;position:relative; width:100%;}
h1		{position:absolute;left:0;top:30px;overflow:hidden;font:30px Georgia;color:#45905B; text-transform: uppercase;}
h1 a	{float:left;margin-right: 25px;}
h1 .subtitle{display: block;margin-top:12px;font:14px Georgia;color:#5A5A5A;text-transform: none;}

#slides {position: absolute; top:45px; left:700px;}
.slides_container {width:160px;height:105px; overflow: hidden;}
.slides_container div {width:160px;height:105px; display:block;}
#slides .pagination {display: none;}

.prev	{position:absolute; left: -22px; top:44px;background: url('/static/img/prev.png') no-repeat left top;
		width:12px; height: 16px;}
.next	{position:absolute; right: -22px; top:44px;background: url('/static/img/next.png') no-repeat left top;
		width:12px; height: 16px;}
.head-slide		{position: absolute; top:20px; left:742px;font:italic 12px Georgia; border-bottom:1px dotted #696969; color:#696969; }


nav		{width:100%;background: url('/static/img/menu.png') repeat-x left top;height:68px;overflow:hidden;}
.ie6 nav{zoom:1;}
.menu	{width:650px; height: 34px; }
nav ul li{display: inline-block;line-height: 34px; margin-right:12px;}
.ie6 nav ul li {float:left;margin-top:7px}
nav li a{font:13px Georgia; color:#FFFFFF; text-transform: uppercase; text-decoration:none; }
.ie6 nav li a{float:left;}
nav li a:hover{border-bottom:1px dotted #fff;color:#fff;}
nav li.selected a{border-bottom:1px dotted #fff;}

.menu ul{position:absolute; left:0; top:34px; width:700px; height: 34px; overflow:hidden;display: none;}
.menu ul li{float:left; padding:0 5px ;border-left:1px solid #7F7F7F;margin:10px 0 0;}
.menu ul a{color:#7F7F7F;display: block;  font-size: 10px;text-align: center; }
.menu ul li:first-child {border-left:none;}
.menu ul a:hover, .menu ul a.selected{border-bottom:1px dotted #7F7F7F; color:#7F7F7F;}

.add-menu	  {float:right; width:300px;overflow:hidden;}
.add-menu li  {display:inline-block; line-height: 34px;margin-right:8px; zoom:1;}
.ie6 .add-menu li {float:left;margin-top:10px}
.add-menu li a{font-size:11px;text-transform: none; border-bottom:1px dotted #fff; }
.ie6 .add-menu li a	{float:left;}
.add-menu a:hover{color:#BBB;}


/*content*/
.section h2		{color:#45905B;font-size:22px; text-transform: uppercase;margin:15px 0 12px 0;}
.news-subtitle	{overflow:hidden;margin-bottom:12px; font:13px Georgia, sans-serif; color: #8BB999;}
.ie6 .news-subtitle{zoom:1;}
.news-subtitle span{float:left;padding:0 5px; border-left:1px solid  #8BB999;}
.news-subtitle span:first-child{border-left:none;}
article			{overflow: hidden;margin-bottom: 25px;}
article .info	{margin-left:161px;}
article a		{float:left;margin-right:10px;}
article h4		{margin:0 0 8px 0;}
article h4 a	{font:bold 14px Georgia; color:#66A5BF;float:none;}
article .tags	{color:#73AC84; font:13px Georgia;}
article .tags a	{font:13px Georgia, sans-serif; float:none;}


/*sidebar*/
.ask		{font:13px Georgia, sans-serif; color:#7F7F7F;margin:35px 0;}
.ask a		{display: inline-block;margin-top:10px;font:bold 19px Georgia; color:#45905B;border-bottom:1px dotted #45905B;
			text-decoration: none;text-transform:uppercase;}
.ask a:hover{color:#6e6e6e;}

.show-info	{background-color: #EFEFEF; margin:35px 0; padding:15px 12px; -moz-border-radius:5px;
			-webkit-border-radius:5px; border-radius:5px;font:13px Georgia, sans-serif; color:#7F7F7F;}
.show-info ul{margin:13px 0 0;list-style:none;padding:0;}
.ie6 .show-info ul{height: 16px;}
.show-info li{float:left; padding:0 5px; border-left:1px solid #45905B;}
.show-info li:first-child{border-left:none;}
.show-info a{display: block;text-decoration: none; border-bottom: 1px dotted #45905B; color:#45905B;font:bold 12px Georgia;}
.show-info a:hover{color:#4e4e4e;}

.show-info .more{padding-right:15px; background: url('/static/img/more.png') no-repeat right center;position: relative; }
.show-info .more ul{position:absolute;left:-1px; top:2px; background-color: #fff; border:1px solid #45905B;z-index:5;
			-webkit-border-radius: 4px;-webkit-border-top-left-radius: 0;-moz-border-radius: 4px;-moz-border-radius-topleft: 0;
			border-radius: 4px;border-top-left-radius: 0; padding:10px 12px; display:none;}
.show-info .more ul li{float:none;border:none;display:block;margin-bottom:6px;width:100px;}
.show-info .more ul a{ display: inline;border-bottom: none; font-weight: normal;}
.show-info .more ul a:hover{ border-bottom: 1px dotted #45905B;}

h4.archive{font:bold 22px Georgia; color:#4C98B3;text-transform:uppercase;}

.knowing	{background-color: #EFEFEF; margin:35px 0; padding:15px 12px; -moz-border-radius:5px;
			-webkit-border-radius:5px; border-radius:5px;font:italic 11px Georgia, sans-serif; color:#595959;}

.knowing a	{ padding-left:32px;font:13px Georgia, sans-serif; color:#8BB999;text-transform:uppercase;
			background: url('/static/img/instruction.png') no-repeat left top; display: block; margin-top:8px;
			line-height: 28px;}
.knowing a:hover{color:#4e4e4e;}

h4.opros	{color:#45905A; font:bold 22px Georgia; text-transform: uppercase;margin-bottom:10px;}
.voting form{margin:15px 0;}
.voting label{overflow: hidden; display: block;padding:7px 7px; margin-bottom: 5px;color:#fff;}
.voting label{zoom:1;}
.voting label input{float:right;}
.voting .label1	   {background-color:#8BB899; }
.voting .label2	   {background-color:#4C98B4; }
.voting .label3	   {background-color:#C9C37D; }
.voting .label4	   {background-color:#939393; }
.voting .label5	   {background-color:#8BB899; }
.voting .label6	   {background-color:#4C98B4; }
.voting .submit		{ margin:12px 0 0 75px; padding:8px 19px;font:12px Arial; text-transform: uppercase;text-align: center;
					border:1px solid #7F7F7F; color:#7F7F7F;}
.voting a	{display: block;margin:12px 0 0 70px; color:#00ADEF;}

/*footer*/
footer		{background-color:#555555;overflow:hidden;margin-top:25px;padding:35px 0;}
.foot-column{float:left; width:270px;}
.foot-column a{color:#fff; border-bottom:1px dotted #fff; font: bold 12px Georgia, sans-serif;text-transform: uppercase;text-decoration: none;}
.foot-column li	{display: block;margin-bottom:14px;}
.foot-column ul	{margin:0 0 12px 0;padding:0;display: block;}
.foot-column ul ul{margin:5px 0 0 7px;}
.foot-column ul ul li{margin-bottom:5px;}
.foot-column ul ul a{border-bottom:1px solid #fff;text-transform: none; color:#DFDFDF;font-weight: normal;}
.foot-column a:hover{ color:#999;}

.copyright	{margin-top:45px; color:#fff;}
.copyright img{float:left; margin-right:10px;}


/* Slider */
.lof-slidecontent{	position:relative;	overflow:hidden;width:600px;height:300px;margin: 30px 0;}
.lof-main-outer{	position:relative;	height:100%;	width:300px;	z-index:3;	overflow:hidden;}

/* main flash */
ul.lof-main-wapper{	overflow:hidden;	padding:0px; margin:0;	height:300px; width:300px;	position:absolute;	overflow:hidden;}
ul.lof-main-wapper li{	overflow:hidden;	padding:15px;	margin:0px;	height:268px;	width:268px;	float:left;	border:1px solid #EFEFEF;}
.lof-opacity  li{	position:absolute;	top:0;	left:0;	float:inherit;	width:300px;}
ul.lof-main-wapper li img{	padding:0 0 14px 0;text-align: center;}

/* item navigator */
ul.lof-navigator{top:0;	padding:0;	margin:0;	position:absolute;	width:100%;}
ul.lof-navigator li{cursor:pointer;	list-style:none;	width:100%;	padding:0;	margin:0;	overflow:hidden;}
.lof-navigator-outer{	position:absolute;	right:0;top:00px;z-index:100;height:300px;	width:310px;	overflow:hidden;	color:#FFF;}
.lof-navigator li div{	height:100%;position:relative;	margin-right:15px;	padding-right:15px;font:13px Georgia; color:#7F7F7F;
					text-decoration: underline;}
.lof-navigator li.active div{background:url('/static/img/slider-arrow.png') no-repeat right 15px;color:#66A5BF;}

.lof-snleft  .lof-main-outer{	float:right;}
	/* move the main wapper to the right side */
	.lof-snleft .lof-main-wapper{margin-left:auto;	margin-right:inherit;	clear:both;	height:300px;}
	/* move the navigator to the left  side */
	.lof-snleft .lof-navigator-outer{	left:0;	top:0;	right:inherit;	}
	ul.lof-main-wapper li {	position:relative;	}
	.lof-snleft .lof-navigator li div{	margin-left:inherit; margin-right:18px;}

