
body { min-width: 960px;}

/* Container
----------------------------------------------------------------------------------------------------*/
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  text-align:left;
  position: relative;}


 /*Useful
  ------------------------------------------------------------------------------------------*/
.border{
	outline: 1px solid red;}

.wrap{
	width:100%;
	overflow: hidden;}

.wrap-inner{
	overflow: hidden;
	margin-bottom:20px;}

 /* Grid >> margin-bottom-
 ----------------------------------------------------------------------------*/
.mb_10{margin-bottom:10px;}
.mb_20{margin-bottom:20px;}
.mb_30{margin-bottom:30px;}
.mb_40{margin-bottom:40px;}
.mb_50{margin-bottom:50px;}
.mt_10{margin-top:10px;}
.mt_20{margin-top:20px;}
.mt_30{margin-top:30px;}
.mt_40{margin-top:40px;}
.mt_50{margin-top:50px;}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,
.grid_14,.grid_15,.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.noleft { margin-left: 0;}
.noright { margin-right: 0;}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .grid_1 {width: 40px;}
.container_16 .grid_2 {  width: 100px;}
.container_16 .grid_3 {  width: 160px;}
.container_16 .grid_4 {  width: 220px;}
.container_16 .grid_5 {  width: 280px;}
.container_16 .grid_6 {  width: 340px;}
.container_16 .grid_7 {  width: 400px;}
.container_16 .grid_8 {  width: 460px;}
.container_16 .grid_9 {  width: 520px;}
.container_16 .grid_10 {  width: 580px;}
.container_16 .grid_11 {  width: 640px;}
.container_16 .grid_12 {  width: 700px;}
.container_16 .grid_13 {  width: 760px;}
.container_16 .grid_14 {  width: 820px;}
.container_16 .grid_15 {  width: 880px;}
.container_16 .grid_16 {  width: 940px;}

/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .prefix_1 { margin-left: 70px;}
.container_16 .prefix_2 {  margin-left: 130px;}
.container_16 .prefix_3 {  margin-left: 190px;}
.container_16 .prefix_4 {  margin-left: 250px;}
.container_16 .prefix_5 {  margin-left: 310px;}
.container_16 .prefix_6 {  margin-left: 370px;}
.container_16 .prefix_7 {  margin-left: 430px;}
.container_16 .prefix_8 {  margin-left: 490px;}
.container_16 .prefix_9 {  margin-left: 550px;}
.container_16 .prefix_10 {  margin-left: 610px;}
.container_16 .prefix_11 {  margin-left: 670px;}
.container_16 .prefix_12 { margin-left: 730px;}
.container_16 .prefix_13 {  margin: 790px;}
.container_16 .prefix_14 {  margin: 850px;}
.container_16 .prefix_15 {  margin: 910px;}

/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .suffix_1 {  margin-right: 70px;}
.container_16 .suffix_2 {  margin-right: 170px;}
.container_16 .suffix_3 {  margin-right: 190px;}
.container_16 .suffix_4 {  margin-right: 250px;}
.container_16 .suffix_5 {  margin-right: 310px;}
.container_16 .suffix_6 {  margin-right: 370px;}
.container_16 .suffix_7 {  margin-right: 430px;}
.container_16 .suffix_8 {  margin-right: 490px;}
.container_16 .suffix_9 {  margin-right: 550px;}
.container_16 .suffix_10 {  margin-right: 610px;}
.container_16 .suffix_11 {  margin-right: 670px;}
.container_16 .suffix_12 {  margin-right: 730px;}
.container_16 .suffix_13 {  margin-right: 790px;}
.container_16 .suffix_14 {  margin-right: 850px;}
.container_16 .suffix_15 {  margin-right: 910px;}

/*-----------------------------------------------------------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;}

.clearfix:before,
.clearfix:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;}

.clearfix:after, .container_16:after { clear: both;}
.clearfix,.container_16 { zoom: 1;}